<header>
    <div class="container">
        <!--Logo-->
        <div class="logo">
            <i class="fas fa-camera-retro"></i>
            <h1>Image Search</h1>
        </div>
        <!--các trang-->
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="index.html">Trang chủ</a></li>
                    <li><a href="model.html">Mô hình</a></li>
                    <li><a href="history.html">Lịch sử</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>   